html{
	font-family: Arial, Helvetica, sans-serif;
}

html, body{
	height: 100%;
	margin: 0px;
}

body{
	background-color: #3a342f;

	/*disable user select*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;


	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#beginScreen{
	text-align: center;
	position: relative;
	min-height: 100%;
}

#title{
	color: #1e7d29;
	font-size: 60px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px 0px #114a17,
				 2px 2px 0px #114a17,
				 3px 3px 0px #114a17,
				 4px 4px 0px #114a17,
				 5px 5px 0px #114a17,
				 5px 10px 20px rgba(0,0,0,0.3);
}

.fancyBox{
	border-radius: 3px;
	position: relative;
}

#nameForm{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	text-align: center;
}

.inputFancy{
	border: 0px;
	outline: 0;
	font-size: 20px;
	padding: 8px;
	background-color: white;
	box-shadow: 1px 1px #155a1c,
				2px 2px #155a1c,
				3px 3px #155a1c,
				4px 4px #155a1c,
				5px 5px #155a1c,
				10px 10px 20px rgba(0,0,0,0.2);
	margin: 5px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.whiteText{
	color: white;
}

#nameInput{
	width: 210px;
}

#serverSelect{
	width: 160px;
	background: #3bad48 url("./img/arrowD.svg") no-repeat right center;
	color: white;
	background-size: 30px;
}

.fancyBtn{
	border: 0px;
	outline: 0;
	font-size: 20px;
	padding: 8px;
	background-color: #3bad48;
	box-shadow: 1px 1px #155a1c,
				2px 2px #155a1c,
				3px 3px #155a1c,
				4px 4px #155a1c,
				5px 5px #155a1c,
				10px 10px 20px rgba(0,0,0,0.2);
	margin: 5px;
	cursor: pointer;
	color: white;
	appearance: none;
	-webkit-appearance: none;
	white-space: nowrap;
	text-decoration: none;
}

.fancyBtn:hover{
	background-color: #43bf51;
}

.fancyBtn:active{
	left: 5px;
	top: 5px;
	box-shadow: 0px 0px #155a1c;
}

.fancyBtn:disabled{
	color: #6dd278;
	background-color: #3bad48;
	cursor: default;
}

#scoreBlock{
	position: fixed;
	padding: 4px;
	left: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 12px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.scoreRank > td{
	padding: 0px 5px;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
}

.rank{
	font-size: 14px;
}

.greenBox{
	background-color: #1e7d29;
	box-shadow: 1px 1px #114a17,
				2px 2px #114a17,
				3px 3px #114a17,
				4px 4px #114a17,
				5px 5px #114a17,
				10px 30px 80px rgba(0,0,0,0.3);
	border-radius: 3px;
}

.sidebox{
	position: absolute;
	display: inline-block;
	padding: 20px;
	margin-top: -30px;
}

.sideboxRight{
	right: -360px;
	width: 300px;
	text-align: left;
	color: white;
	font-size: 11pt;
	max-height: 400px;
	overflow: hidden;
	padding: 0px 20px;
}

#adbox2{
	position: absolute;
	padding: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 20;
}

.sideboxContent{
	overflow-y: scroll;
	max-height: 360px;
	width: 300px;
}

#newsboxContent{
	padding-right: 80px;
}

#newsbox ul{
	padding-left: 16px;
}

a{
	color: white;
}

a:hover{
	text-decoration: none;
}

#score{
	font-size: 17px;
}

#leaderboard{
	position: fixed;
	right: 13px;
	top: 8px;
	z-index: 100;
	padding: 5px;
	opacity: 0.7;
	transform-origin: right top;
}

#miniMap{
	position: fixed;
	width: 160px;
	height: 160px;
	left: 10px;
	top: 10px;
	padding: 3px;
	transform-origin: left top;
}

#minimapCanvas{
	opacity: 0.4;
}

#miniMapPlayer{
	width: 3px;
	height: 3px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid black;
	position: absolute;
	box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.2);
	z-index: 120;
}

#lifeBox{
	position: fixed;
	top: 190px;
	left: 10px;
	transform-origin: left top;
}

@media (max-width: 700px){
	#miniMap, #leaderboard, #lifeBox{
		transform: scale(0.7);
	}

	#lifeBox{
		top: 135px;
	}
}

.fullscreenCanvas{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
}

#transitionCanvas{
	position: fixed;
}

#tutorialCanvas{
	margin: 30px;
	box-shadow: 1px 1px #2b2623,
				2px 2px #2b2623,
				3px 3px #2b2623,
				4px 4px #2b2623,
				5px 5px #2b2623,
				10px 30px 80px rgba(0,0,0,0.4);
	border-radius: 3px;
}

#tutorialText{
	margin-top: 30px;
	color: white;
}

#expandPage{
	height: 30px;
}

#touchControls{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

#notification{
	color: #a22929;
	margin-bottom: 30px;
	text-shadow: 1px 1px 1px #7b1e1e,
				 3px 3px 10px rgba(0,0,0,0.3);
}

#lastStats, #bestStats{
	color: white;
	margin-bottom: 10px;
}

.lastStatsBlock{
	width: 48%;
	display: inline-block;
}

#skinScreenCanvas{
	z-index: -100;
}

#skinScreen{
	overflow: hidden;
}

#skinButton{
	position: fixed;
	left: 20px;
	bottom: 20px;
	cursor: pointer;
	z-index: 10;
}

#skinButtonShadow{
	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 12px;
	left: 28px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.1);
	border-radius: 3px;
	z-index: 5;
}

.skinButtonContainer{
	position: relative;
	margin: 50px auto;
	height: 50px;
	width: 300px;
}

.skinButton{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #1e7d29;
	box-shadow: 1px 1px #114a17,
				2px 2px #114a17,
				3px 3px #114a17,
				10px 30px 80px rgba(0,0,0,0.3);
	position: absolute;
	top: 0px;
	z-index: 30;
	background-image: url("./img/arrow.svg");
	background-size: cover;
	cursor: pointer;
}

.skinButton:hover, #skinSave:hover{
	background-color: #22902f;
}

.skinButton:active, #skinSave:active{
	box-shadow: 0px 0px #155a1c;
}

.skinButton:active{
	top: 3px;
}

.skinButtonLeft:active{
	left: 3px;
}

.skinButtonRight{
	right: 5px;
	background-image: url("./img/arrowR.svg");
}

.skinButtonRight:active{
	right: 0px;
}

.skinValue{
	width: 250px;
	background-color: #1e7d29;
	box-shadow: 1px 1px #114a17,
				2px 2px #114a17,
				3px 3px #114a17,
				10px 30px 80px rgba(0,0,0,0.3);
	padding: 5px;
	text-align: center;
	position: absolute;
	top: 12px;
	left: 25px;
	z-index: 20;
	color: white;
}

#skinSave{
	border-radius: 3px;
	width: 100px;
	position: relative;
	margin: auto;
	cursor: pointer;
	top: 5px;
	left: 0px;
}

#skinSave:active{
	top: 8px;
	left: 3px;
}

#logoCanvas{
	margin: 30px 0px;
}

#enteringLandNotification{
	position: fixed;
	z-index: 150;
	color: white;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#enteringName{
	max-width: 250px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	padding: 7px;
	padding-left: 0px;
}

#cornerLinks{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 23px;
	text-align: right;
}

#cornerLinks > a{
	color: white;
	text-decoration: none;
	margin-left: 5px;
}
#cornerLinks > a:hover{
	text-decoration: underline;
}

#qualityText, #uglyText{
	cursor: pointer;
}

@media (max-width: 950px){
	#adbox, #newsbox {
		display: none;
	}
}

.shareButton{
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
	cursor: pointer;
	opacity: 0.8;
	transition: opacity 0.2s;
}

.shareButton:hover{
	opacity: 1;
}

.topNotification{
	position: relative;
	top: 10px;
	max-width: 300px;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	left: 50%;
	transform: translateX(-50%);
}

#preroll{
	width: 960px;
	height: 540px;
	margin: auto;
}

#patreonOverlay{
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
}

#patreonBox{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	text-align: center;
	color: white;
}

#euConsent{
	position: fixed;
	bottom: 20px;
	left: 20px;
	right: 20px;
	color: white;
	text-align: center;
	z-index: 1000;
}

#euConsentContainer{
	text-align: left;
	max-width: 600px;
	margin: 20px;
	display: inline-block;
	vertical-align: middle;
}

#euConsentAgreeBtn{
	display: inline-block;
	vertical-align: middle;
	padding: 20px 50px;
	margin: 20px;
}

body[data-state="playing"] .hc-menu-container {
    opacity: var(--menu-opacity);
}

.search-negative {
	display: none;
}