:root{
	--background-color: #white;
	--text-color: black;
}
@media(prefers-color-scheme: dark){
	:root{
		--background-color: black;
		--text-color: #bebebe;
	}
}

html, body{
	font-family: Helvetica, Arial, sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}
